[Unit]
Description=LoRA_485 - tester
After=network.target

[Service]
Type=simple
User=test
WorkingDirectory=/home/test/
ExecStart=/home/test/stm32_tester_flasher/start.sh
Restart=always

[Install]
WantedBy=multi-user.target