<!DOCTYPE html>
<html>
    <head>
        <title>Tester 1.0</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="main/static/style.css" rel="stylesheet"/>
        <script type="application/javascript" src="main/static/loadLibrary.js"></script>
    </head>
    <body onload="loadLibrary()">
        <span class="font-weight-bold" id="sideText" style="font-size: 30px; cursor: pointer; color: #fff;" onclick="openNav()"></span>
        <div class="loader text-center">
            <div class="loader-inner">
                <div class="lds-roller mb-3">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <h4 id="Lw" class="text-uppercase font-weight-bold">Loading</h4>
            </div>
        </div>
        <div class="mainContainer"></div>
    </body>
</html>
